@model IEnumerable<lab_3.Models.Project>

<h1>Список проектов</h1>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Компания-заказчик</th>
            <th>Компания-исполнитель</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th>Приоритет</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            <tr>
                <td>@project.Name</td>
                <td>@project.CustomerCompany</td>
                <td>@project.ContractorCompany</td>
                <td>@project.StartDate.ToShortDateString()</td>
                <td>@project.EndDate?.ToShortDateString() ?? "Не завершено"</td>
                <td>@project.Priority</td>
                <td>
                    <a href="@Url.Action("Edit", "Projects", new { id = project.Id })">Редактировать</a> |
                    <a href="@Url.Action("Details", "Projects", new { id = project.Id })">Просмотр</a> |
                    <a href="@Url.Action("Delete", "Projects", new { id = project.Id })">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create", "Projects")" class="btn btn-primary">Создать проект</a>
