@model lab_3.Models.Employee

<h2>Сотрудник: @Model.LastName @Model.FirstName @Model.MiddleName</h2>

<p>Email: @Model.Email</p>

<h3>Проекты</h3>
<ul>
    @foreach (var project in Model.Projects)
    {
        <li>@project.Name</li>
    }
</ul>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Редактировать сотрудника</a>
<a asp-action="Index" class="btn btn-secondary">Назад к списку сотрудников</a>
